.permit-form {
  font-family: Arial, sans-serif;
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  border: 2px solid #0f0f0f;
  margin-top: 10px;
}

.row {
  display: grid;
  grid-template-columns: 180px 1fr 180px 1fr;
  gap: 28px;
  margin-bottom: 12px;
  align-items: center;
}

.row label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.row input {
  padding: 6px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 3px;
}

.row .full {
  grid-column: span 3;
}